<div class="card-panel nested-fields">
  <div class="row">
    <div class="col s12">
      <%= f.label :company, "Empresa*" %>
      <%= f.text_field :company, required: true%>
    </div>
  </div>
  
  <div class="row">
    <div class="col s12 l6 input-field">
      <%= f.select :entity, options_for_select(mx_state_list, (f.object.try :state_birth)), {:include_blank => "Estado"} %>
    </div>
    <div class="col s12 l6 input-field">
      <%= f.country_select :country, priority_countries: ["MX"], prompt: "País" %>
    </div>
  </div>

  <div class="row">
    <div class="col s12">
      <%= f.label :title, "Posición*" %>
      <%= f.text_field :title, required: true%>
    </div>
  </div>

  <div class="row">
    <div class="col s12">
      <%= f.label :Área_del_conocimiento %>
      <%= f.text_field :study_area %>
    </div>
  </div>

  <div class="row">
    <div class="col s12 l4">
      <%= f.label :Fecha_de_inicio %>
      <%= f.date_field :start_date %>
    </div>
    <div class="col s12 l4">
      <%= f.label :Fecha_de_fin %>
      <%= f.date_field :end_date, disabled: params[:is_current] == 1 %>
    </div>
    <div class="col s12 l4 input-field">
        <%= f.check_box :is_current %>
        <%= f.label :is_current, "Aún trabajo aquí" %>
    </div>
  </div>

  <div class="row">
    <div class="col s12">
      <%= f.label :description, "Principales logros y/o responsabilidades" %>
      <%= f.text_area :description, class: 'materialize-textarea' %>
    </div>
  </div>
  <div class="row">
    <div class="col s1 offset-s11">
      <%= link_to_remove_association f, :class => "btn-floating red" do %>
        <i class="large material-icons">delete</i>
      <% end %>
    </div>
  </div>
</div>
