<main class="l-left-padding">
  <div class="row">
    <div class="card col s12 m8 offset-m2" style="padding: 20px">
      <div class="section">
        <div class="center-align teal-text title">Cambiar Contraseña</div>
      </div>
      <div class="divider"></div>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <div class="section">
          <div class="row zeroMargin">
            <div class="col s12 m6 l4 input-field">
              <%= f.label :current_password %>
              <%= f.password_field :current_password, autocomplete: "current-password", :required => true %>
            </div>
            <div class="col s12 m6 l4 input-field">
              <%= f.label :password, 'Contraseña nueva*' %>
              <%= f.password_field :password, autocomplete: "new-password", :required => true%>
            </div>
            <div class="col s12 m6 l4 input-field">
              <%= f.label :password_confirmation, 'Confirmar contraseña*' %>
              <%= f.password_field :password_confirmation, autocomplete: "new-password", :required => true %>
            </div>
          </div>
        </div>
        <%= f.hidden_field :email, :value => current_user.email %>
        <div class="section"> 
          <div class="row zeroMargin center-align">
            <%= f.submit "Actualizar", :class=>"btn-small"%>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</main>