<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Capital Humano en Ciencia y Tecnologia de Nuevo Leon</title>
</head>
<body>
  <div id="basic-form" class="section">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <div class="row">
      <div class="col s4 input-field inline">
        <%= f.label :Nombre %>
        <%= f.text_field :name %>
      </div>
      <div class="col s4 input-field inline">
        <%= f.label :Primer_Apellido %>
        <%= f.text_field :paternal_last_name %>
      </div>
      <div class="col s4 input-field inline">
        <%= f.label :Segundo_Apellido %>
        <%= f.text_field :maternal_last_name %>
      </div>
    </div>
    <div class="row">
      <div class="col s12 input-field inline">
        <%= f.label :Correo %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>
    </div>
    <div class="row">
      <div class="col s6 input-field inline">
        <%= f.label :contraseña %>
        <%= f.password_field :password, autocomplete: "new-password" %>
      </div>
      <div class="col s6 input-field inline">
        <%= f.label :confirmar_contraseña %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>
    </div>
    <div class="row">
      <div class="col s3 input-field inline">
        <%= f.label :Request_Status %>
        <%= f.date_field :desc_request_status %>
      </div>
      <div class="col s3 input-field inline">
        <%= f.label :CVU %>
        <%= f.text_field :cvu %>
      </div>
      <div class="col s3 input-field inline">
        <%= f.label :RFC %>
        <%= f.text_field :rfc %>
      </div>
      <div class="col s3 input-field inline">
        <input id="user_curp" type="text" class="validate">
        <label for="user_password">CURP</label>
      </div>
    </div>
    <div class="actions center-align">
      <%= f.submit "Registrar", :class=>"waves-effect waves-light btn"%>
    </div>
    <% end %>
  <%= render "devise/shared/links" %>
  </div>
</body>
