<main style="padding-left: 240px">
  <div class="row">
    <div class="col s12" style="padding-top: 20px;"><h4 class="center-align">Registrar administrador</h4> </div>
    <div class="col s12 m4 l1"><p></p></div>
    <div class="col s12 m4 l10">

      <div id="basic-form" class="section">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>
          <div class="row">
            <div class="row">
              <div class="col s4 input-field inline">
                <%= f.label :Correo,:style=>'color:red;' %>
                <%= f.email_field :email, autofocus: true, autocomplete: "email", :required => true %>
              </div>
              <div class="col s4 input-field inline">
                <%= f.label :contraseña,:style=>'color:red;' %>
                <%= f.password_field :password, autocomplete: "new-password", :required => true%>
              </div>
              <div class="col s4 input-field inline">
                <%= f.label :confirmar_contraseña,:style=>'color:red;' %>
                <%= f.password_field :password_confirmation, autocomplete: "new-password", :required => true %>
              </div>

              <div class="col s4 input-field inline">
                <%= f.label :role, :style=>'color:red;' %>
                <%= f.select :role, options_for_select([["Administrador", "admin"], ["Super Administrador", "super_admin"]]), {}, { class: 'browser-default'}  %>
              </div>
            </div>
            <div class="actions center-align">
              <%= f.submit "Registrar", :class=>"btn"%>
            </div>
          <% end %>
          <%= render "devise/shared/links" %>
          </div>
      </div>
    </div>
</main>
