<main class="l-left-padding">
  <div class="row">
    <div class="card col s12 m8 offset-m2" style="padding: 20px">
      <div class="section">
        <div style="position: absolute; padding-left: 20px">
          <%= link_to companies_path do %>
            <i class="material-icons left teal-text" style="font-size: 35px; line-height: 48px">arrow_back</i>
          <% end %>
        </div>
        <div class="center-align teal-text title">Registrar Compañía</div>
      </div>
      <div class="divider"></div>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <div class="row zeroMargin">
          <div class="col s12 m6 l4 input-field inline">
            <%= f.label :Correo %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", :required => true %>
          </div>
          <div class="col s12 m6 l4 input-field inline">
            <%= f.label :contraseña %>
            <%= f.password_field :password, autocomplete: "new-password", :required => true%>
          </div>
          <div class="col s12 m6 l4 input-field inline">
            <%= f.label :confirmar_contraseña %>
            <%= f.password_field :password_confirmation, autocomplete: "new-password", :required => true %>
          </div>
          <%= f.fields_for :company_attributes do |c| %>
            <div class="col s12 m6 l4 input-field inline">
              <%= c.label "Nombre" %>
              <%= c.text_field :name%>
            </div>
            <div class="col s12 input-field inline">
              <%= c.label "Descripción" %>
              <%= c.text_area :information, class: 'materialize-textarea' %>
            </div>
            <%= f.hidden_field :role, :value => @user.role %>
          <% end %>
        </div>
        <div class="section"> 
          <div class="row zeroMargin center-align">
            <%= f.submit "Registrar", :class=>"btn-small"%>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</main>

