<main style="padding-left: 240px">
  <div class="row">
    <div class="col s12" style="padding-top: 20px;"><h4 class="center-align">Registrar becarios</h4> </div>
    <div class="col s12 m4 l1"><p></p></div>
    <div class="col s12 m4 l10">

      <div id="basic-form" class="section">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>
          <h5>
            Información Personal:
          </h5>
          <div class="row">
            <div class="col s4 input-field inline">
              <%= f.label :Correo,:style=>'color:red;' %>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", :required => true %>
            </div>
            <div class="col s4 input-field inline">
              <%= f.label :contraseña,:style=>'color:red;' %>
              <%= f.password_field :password, autocomplete: "new-password", :required => true%>
            </div>
            <div class="col s4 input-field inline">
              <%= f.label :confirmar_contraseña,:style=>'color:red;' %>
              <%= f.password_field :password_confirmation, autocomplete: "new-password", :required => true %>
            </div>
          </div>

          <%= f.fields_for :student_attributes do |s| %>
            <%= render "students/form", f: s %>
            <%= s.fields_for :contact_information_attributes do |c| %>
              <%= render "students/form_contact_information", c: c %>
            <% end %>
            <h5>
              Información de Estudios:
            </h5>
            <%= s.fields_for 'scholarships_attributes[0]' do |sch| %>
            <div class="row">
              <div class="col s3 input-field inline">
                <%= sch.collection_select(:scholarship_oportunity_id, ScholarshipOportunity.all, :id, :name, {:prompt => 'Convocatoria'}, {:style=>'color:red;', :required => true ,class: "browser-default"}) %>
              </div>
              <div class="col s3 input-field inline">
                <%= sch.label :Año_Fiscal %>
                <%= sch.number_field :fiscal_year %>
              </div>
              <div class="col s3 input-field inline">
                <%= sch.label :Fecha_de_inicio_de_estudios %>
                <%= sch.date_field :studies_start, :value => Time.now.strftime("%Y-%m-%d")  %>
              </div>
              <div class="col s3 input-field inline">
                <%= sch.label :Fecha_de_fin_de_estudios %>
                <%= sch.date_field :studies_end, :value => Time.now.strftime("%Y-%m-%d")  %>
              </div>
            </div>
            <div class="row">
              <div class="col s3 input-field inline">
                <%= sch.label :Fecha_de_inicio_de_beca %>
                <%= sch.date_field :start, :value => Time.now.strftime("%Y-%m-%d")  %>
              </div>
              <div class="col s3 input-field inline">
                <%= sch.label :Fecha_de_fin_de_beca %>
                <%= sch.date_field :end, :value => Time.now.strftime("%Y-%m-%d")  %>
              </div>
              <div class="col s3 input-field inline">
                <%= sch.label :Universidad,:style=>'color:red;'%>
                <%= sch.text_field :institution, :required => true %>
              </div>
              <div class="col s3 input-field inline">
                <%= sch.label :Entidad,:style=>'color:red;'%>
                <%= sch.text_field :entity, :required => true  %>
              </div>
            </div>
            <div class="row">
              <div class="col s3 input-field inline">
                <%= sch.label :Apoyo_a_obtener,:style=>'color:red;'%>
                <%= sch.text_field :desired_support, :required => true  %>
              </div>
              <div class="col s3 input-field inline">
                <%= sch.label :Programa,:style=>'color:red;'%>
                <%= sch.text_field :program, :required => true  %>
              </div>
              <div class="col s3 input-field inline">
                <%= sch.label :Campo_de_estudio %>
                <%= sch.text_field :study_field %>
              </div>
              <div class="col s3 input-field inline">
                <%= sch.label :Area_de_estudio %>
                <%= sch.text_field :study_area %>
              </div>
            </div>
            <div class="row">
              <div class="col s4 input-field inline">
                <%= sch.label :Disciplina %>
                <%= sch.text_field :discipline %>
              </div>
              <div class="col s4 input-field inline">
                <%= sch.label :Subdisciplina %>
                <%= sch.text_field :sub_discipline %>
              </div>
              <div class="col s4 input-field inline">
                <%= sch.label :Promedio_ultimo_grado %>
                <%= sch.number_field :most_recent_gpa %>
              </div>
            </div>
            <% end %>
          <% end %>
          <div class="actions center-align">
            <%= f.submit "Registrar", :class=>"btn"%>
          </div>
        <% end %>
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</main>
