<div class="row">
  <div class="col s4 input-field inline">
    <%= f.label :Nombre,:style=>'color:red;'%>
    <%= f.text_field :name, :required => true%>
  </div>
  <div class="col s4 input-field inline">
    <%= f.label :Primer_Apellido %>
    <%= f.text_field :paternal_last_name %>
  </div>
  <div class="col s4 input-field inline">
    <%= f.label :Segundo_Apellido %>
    <%= f.text_field :maternal_last_name %>
  </div>
</div>
<div class="row">
  <div class="col s2 input-field inline">
    <%= f.label :CVU,:style=>'color:red;'%>
    <%= f.number_field :cvu, :required => true %>
  </div>
  <div class="col s2 input-field inline">
    <%= f.label :RFC,:style=>'color:red;'%>
    <%= f.text_field :rfc, :required => true%>
  </div>
  <div class="col s2 input-field inline">
    <%= f.label :CURP,:style=>'color:red;'%>
    <%= f.text_field :curp, :required => true %>
  </div>
  <div class="col s3 input-field inline">
    <%= f.label :Fecha_de_nacimiento %>
    <%= f.date_field :birth_date, :value => Time.now.strftime("%Y-%m-%d")  %>
  </div>
</div>
<div class="row">
  <div class="col s2 input-field inline">
    <%= f.select :gender, options_for_select(["Hombre", "Mujer"], (f.object.try :gender)), {:include_blank => "Género:"}, { class: 'browser-default' } %>
  </div>
  <div class="col s2 input-field inline">
    <%= f.select :marital_status, options_for_select(["Soltero", "Casado"], (f.object.try :marital_status)), {:include_blank => "Estado Civil:"}, { class: 'browser-default' } %>
  </div>
  <div class="col s2 input-field inline">
    <%= f.label :País_de_Nacimiento,:style=>'color:red;'%>
    <%= f.text_field :country_birth, :required => true %>
  </div>
  <div class="col s2 input-field inline">
    <%= f.label :Estado_de_Nacimiento,:style=>'color:red;'%>
    <%= f.text_field :state_birth, :required => true %>
  </div>
</div>
