<div class="col s12 m6 l4 input-field">
  <%= f.label :name, 'Nombre*'%>
  <%= f.text_field :name, :required => true, :pattern => '[A-Za-zÀ-ÖØ-öø-ÿ]*' %>
</div>
<div class="col s12 m6 l4 input-field">
  <%= f.label :paternal_last_name, 'Apellido paterno' %>
  <%= f.text_field :paternal_last_name, :pattern => '[A-Za-zÀ-ÖØ-öø-ÿ]*' %>
</div>
<div class="col s12 m6 l4 input-field">
  <%= f.label :maternal_last_name, 'Apellido materno' %>
  <%= f.text_field :maternal_last_name, :pattern => '[A-Za-zÀ-ÖØ-öø-ÿ]*' %>
</div>
<div class="col s12 m6 l4 input-field">
  <%= f.label :cvu, 'CVU*'%>
  <%= f.number_field :cvu, :required => true %>
</div>
<div class="col s12 m6 l4 input-field">
  <%= f.label :RFC, 'RFC*'%>
  <%= f.text_field :rfc, :required => true%>
</div>
<div class="col s12 m6 l4 input-field">
  <%= f.label :curp, 'CURP*'%>
  <%= f.text_field :curp, :required => true %>
</div>
<div class="col s12 m6 l4">
  <%= f.label :birth_date, 'Fecha de nacimiento' %>
  <%= f.date_field :birth_date %>
</div>
<div class="col s12 m6 l4 input-field">
  <%= f.select :gender, options_for_select(["Hombre", "Mujer"], (f.object.try :gender)), {:include_blank => "Género"} %>
</div>
<div class="col s12 m6 l4 input-field">
  <%= f.select :marital_status, options_for_select(["Soltero", "Casado"], (f.object.try :marital_status)), {:include_blank => "Estado Civil"} %>
</div>
<div class="col s12 m6 l4 input-field">
  <%= f.country_select :country_birth, priority_countries: ["MX"], prompt: "País de Nacimiento" %>
</div>
<div class="col s12 m6 l4 input-field">
  <%= f.select :state_birth, options_for_select(mx_state_list, (f.object.try :state_birth)), {:include_blank => "Estado de Nacimiento"} %>
</div>
