<div class="divider"></div>
<div class="section">
  <div class="center-align subtitle">
    Teléfonos
  </div>
  <div class="row zeroMargin">
    <div class="col s4 input-field inline">
        <%= c.label :phone_number, 'Teléfono' %>
        <%= c.telephone_field :phone_number, :pattern => "\\d*" %>
    </div>
    <div class="col s4 input-field inline">
        <%= c.label :cellphone_number, 'Celular' %>
        <%= c.telephone_field :cellphone_number, :pattern => "\\d*" %>
    </div>
  </div>
</div>
<div class="divider"></div>
<div class="section">
  <div class="center-align subtitle">
    Domicilio
  </div>
  <div class="row zeroMargin">
    <div class="col s12 m6 l4 input-field inline">
        <%= c.label :street_address, 'Calle*' %>
        <%= c.text_field :street_address, :required => true  %>
    </div>
    <div class="col s12 m6 l4 input-field inline">
        <%= c.label :street_number_address_ext, 'Número exterior*'%>
        <%= c.number_field :street_number_address_ext, :required => true %>
    </div>
    <div class="col s12 m6 l4 input-field inline">
        <%= c.label :street_number_address_int, 'Número interior' %>
        <%= c.number_field :street_number_address_int %>
    </div>
    <div class="col s12 m6 l4 input-field inline">
        <%= c.label :neighborhood, 'Colonia' %>
        <%= c.text_field :neighborhood %>
    </div>
    <div class="col s12 m6 l4 input-field inline">
        <%= c.label :city, 'Ciudad*'%>
        <%= c.text_field :city, :required => true  %>
    </div>
    <div class="col s12 m6 l4 input-field inline">
        <%= c.label :municipality, 'Municipio' %>
        <%= c.text_field :municipality %>

    </div>
    <div class="col s12 m6 l4 input-field inline">
      <%= c.select :state, options_for_select(mx_state_list, (c.object.try :state)), {:include_blank => "Estado"} %>
    </div>
  </div>
</div>
