<%= javascript_include_tag 'table.js' %>
<div id="man" class="col s12 m10 offset-m1">
  <div class="card material-table">
    <div class="table-header">
        <% if defined?(back_path) %>
          <%= link_to back_path do %>
            <i class="material-icons left teal-text" style="font-size: 25px; line-height: 30px">arrow_back</i>
          <% end %>
        <% end %>
        <span class="table-title teal-text"><%= defined?(table_title) ? table_title : 'Exbecarios' %></span>
        <div class="actions">
            <div class="col">
                <a class='dropdown-button btn-small disabled table-button' href='#' data-activates='dropdown1'>Ver</a>
                <ul id='dropdown1' class='dropdown-content'>
                    <li><a class="table-button-dropdown" table-button-tag="VER">Perfil</a></li>
                    <li><a class="table-button-dropdown" table-button-tag="CV">CV</a></li>
                    <li><a class="table-button-dropdown" table-button-tag="HISTORIA">Historia</a></li>
                </ul>
            </div>
            <% if display_actions %>
              <div class="col"><a class="btn-small disabled table-button" table-button-tag="ELIMINAR"">Eliminar</a></div>
              <div class="col"><%= link_to 'Crear', new_with_former_student_path, :class=>"btn-small"%></div>
              <div class="col"><%= link_to 'Importar', former_students_upload_path, :class=>"btn-small"%></div>
              <div class="col"><%= link_to 'Descargar', former_students_path(format: :csv), :class=>"btn-small"%></div>
            <% end %>
        </div>
    </div>
    <table id="datatable">
      <thead>
        <tr>
          <th>CVU</th>
          <th>Nombre</th>
          <th>Empresa Actual</th>
          <th>Puesto Actual</th>
          <th class="hide"></th>
        </tr>
      </thead>
      <tbody>
        <% users.each do |user| %>
          <tr class="table-row">
            <td><%= user.student.cvu %></td>
            <td><%= user.student.full_name %></td>
            <td>
              <% if user.student.curriculum %>
                <% if user.student.curriculum.current_job.any? %>
                  <%= user.student.curriculum.current_job.first.company %>
                <% else %>
                  Sin trabajo
                <% end %>
              <% else %>
                Sin datos
              <% end %>
            </td>
            <td>
              <% if user.student.curriculum %>
                <% if user.student.curriculum.current_job.any? %>
                  <%= user.student.curriculum.current_job.first.title %>
                <% else %>
                  Sin trabajo
                <% end %>
              <% else %>
                Sin datos
              <% end %>
            </td>
            <td class="hide">
              <% if current_user.is_admin_or_super_admin? %>
                <%= link_to 'VER', student_path(user.student.id), :style=>'color:white;font-size:10px;width:100px ! important',:class=>"waves-effect waves-light btn"%><br></br>
              <% end %>
              <% if user.student.curriculum %>
                <%= link_to 'CV', curriculum_path(user.student.curriculum), :style=>'color:white;font-size:10px;width:100px ! important',:class=>"waves-effect waves-light btn"%><br></br>
              <% end %>
              <% if current_user.is_admin_or_super_admin? %>
                <%= link_to 'HISTORIA', history_student_path(user.student.id)%>
              <% end %>
              <%= link_to "ELIMINAR", user.student, method: :delete, data: { confirm: '¿Estás seguro que quieres eliminar al usuario?' },:style=>'color:white;;font-size:10px;width:100px ! important',:class=>"waves-effect waves-light btn" %></td>
            </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
