<div id="man" class="col s12 m4 l10">
    <div class="card material-table">
    <div class="table-header">
        <span class="table-title">Becarios CONACYT</span>
        <div class="actions">
        </div>
    </div>
    <table id="datatable">
        <thead>
        <tr>
            <th>Cvu</th>
            <th>Nombre</th>
            <th>Universidad</th>
            <th>Disciplina</th>
            <th>Area de Estudio</th>
            <th>  </th>
        </tr>
        </thead>
        <tbody>
        <% users.each do |user| %>
            <tr>
            <td><%= user.student.cvu %></td>
            <td><%= user.student.name %> <%= user.student.paternal_last_name %> <%= user.student.maternal_last_name %></td>
            <td><%= user.student.scholarships.any? ? user.student.scholarships.last.institution : 'N/A' %></td>
            <td><%= user.student.scholarships.any? ? user.student.scholarships.last.discipline : 'N/A' %></td>
            <td><%= user.student.scholarships.any? ? user.student.scholarships.last.study_area : 'N/A' %></td>
            <td><%= link_to 'Show', student_path(user.student.id), :style=>'color:white;font-size:10px;width:100px ! important',:class=>"waves-effect waves-light btn"%><br></br>
                <%= link_to 'Historia', history_student_path(user.student.id), :style=>'color:white;font-size:10px;width:100px ! important',:class=>"waves-effect waves-light btn"%><br></br>
                <%= link_to "Eliminar", user.student, method: :delete, data: { confirm: '¿Estás seguro que quieres eliminar al usuario?' },:style=>'color:white;;font-size:10px;width:100px ! important',:class=>"waves-effect waves-light btn" %></td>
            </tr>
        <% end %>
        </tbody>
    </table>
    </div>
</div>
