<div class="section">
  <div class="center-align subtitle">Información Personal</div>
  <div class="row zeroMargin">
    <div class="col s4 right-align label">
      Nombre
    </div>
    <div class="col s8">
      <%= student.name %>
    </div>
  </div>
  <div class="row zeroMargin">
    <div class="col s4 right-align label">
      Apellido Paterno
    </div>
    <div class="col s8">
      <%= student.paternal_last_name %>
    </div>
  </div>
  <div class="row zeroMargin">
    <div class="col s4 right-align label">
      Apellido Materno 
    </div>
    <div class="col s8">
      <%= student.maternal_last_name %>
    </div>
  </div>
  <div class="row zeroMargin">
    <div class="col s4 right-align label">
      Correo
    </div>
    <div class="col s8">
      <%= user.email %>
    </div>
  </div>
  <div class="row zeroMargin">
    <div class="col s4 right-align label">
      CVU
    </div>
    <div class="col s8">
      <%= student.cvu %>
    </div>
  </div>
  <div class="row zeroMargin">
    <div class="col s4 right-align label">
      RFC
    </div>
    <div class="col s8">
      <%= student.rfc %>
    </div>
  </div>
  <div class="row zeroMargin">
    <div class="col s4 right-align label">
      CURP 
    </div>
    <div class="col s8">
      <%= student.curp %>
    </div>
  </div>
  <div class="row zeroMargin">
    <div class="col s4 right-align label">
      Fecha de Nacimiento 
    </div>
    <div class="col s8">
      <%= student.birth_date.try :strftime, "%e %B %Y" %>
    </div>
  </div>
  <div class="row zeroMargin">
    <div class="col s4 right-align label">
      Género 
    </div>
    <div class="col s8">
      <%= student.gender %>
    </div>
  </div>
  <div class="row zeroMargin">
    <div class="col s4 right-align label">
      Estado Civil 
    </div>
    <div class="col s8">
      <%= student.marital_status %>
    </div>
  </div>
  <div class="row zeroMargin">
    <div class="col s4 right-align label">
      País de Nacimiento
    </div>
    <div class="col s8">
      <%= student.country_birth %>
    </div>
  </div>
  <div class="row zeroMargin">
    <div class="col s4 right-align label">
      Estado de Nacimiento
    </div>
    <div class="col s8">
      <%= student.state_birth %>
    </div>
  </div>
</div>
<div class="divider"></div>
<div class="section">
  <div class="center-align subtitle">Teléfonos</div>
  <div class="row zeroMargin">
    <div class="col s4 right-align label">
      Teléfono
    </div>
    <div class="col s8">
      <%= student.contact_information.phone_number %>
    </div>
  </div>
  <div class="row zeroMargin">
    <div class="col s4 right-align label">
      Celular
    </div>
    <div class="col s8">
      <%= student.contact_information.cellphone_number %>
    </div>
  </div>
</div>
<div class="divider"></div>
<div class="section">
  <div class="center-align subtitle">Domicilio</div>
  <div class="row zeroMargin">
    <div class="col s4 right-align label">
      Calle
    </div>
    <div class="col s8">
      <%= student.contact_information.street_address %>
    </div>
  </div>
  <div class="row zeroMargin">
    <div class="col s4 right-align label">
      Número Exterior
    </div>
    <div class="col s8">
      <%= student.contact_information.street_number_address_ext %>
    </div>
  </div>
  <div class="row zeroMargin">
    <div class="col s4 right-align label">
      Número Interior
    </div>
    <div class="col s8">
      <%= student.contact_information.street_number_address_int %>
    </div>
  </div>
  <div class="row zeroMargin">
    <div class="col s4 right-align label">
      Colonia
    </div>
    <div class="col s8">
      <%= student.contact_information.neighborhood %>
    </div>
  </div>
  <div class="row zeroMargin">
    <div class="col s4 right-align label">
      Ciudad
    </div>
    <div class="col s8">
      <%= student.contact_information.city %>
    </div>
  </div>
  <div class="row zeroMargin">
    <div class="col s4 right-align label">
      Municipio
    </div>
    <div class="col s8">
      <%= student.contact_information.municipality %>
    </div>
  </div>
  <div class="row zeroMargin">
    <div class="col s4 right-align label">
      Estado
    </div>
    <div class="col s8">
      <%= student.contact_information.state %>
    </div>
  </div>
</div>
<% if student.scholarships.any? %>
  <div class="divider"></div>
  <div class="section">
    <div class="center-align subtitle">Información de Estudios</div>
    <div class="row zeroMargin">
      <div class="col s4 right-align label">
        Fecha Solicitud
      </div>
      <div class="col s8">
        <%= student.scholarships.last.creation_date.try :strftime, "%e %B %Y" %>
      </div>
    </div>
    <div class="row zeroMargin">
      <div class="col s4 right-align label">
        Inicio de Estudios
      </div>
      <div class="col s8">
        <%= student.scholarships.last.studies_start.try :strftime, "%e %B %Y" %>
      </div>
    </div>
    <div class="row zeroMargin">
      <div class="col s4 right-align label">
        Fin de Estudios
      </div>
      <div class="col s8">
        <%= student.scholarships.last.studies_end.try :strftime, "%e %B %Y" %>
      </div>
    </div>
    <div class="row zeroMargin">
      <div class="col s4 right-align label">
        Inicio de Beca
      </div>
      <div class="col s8">
        <%= student.scholarships.last.start.try :strftime, "%e %B %Y" %>
      </div>
    </div>
    <div class="row zeroMargin">
      <div class="col s4 right-align label">
        Fin de Beca
      </div>
      <div class="col s8">
        <%= student.scholarships.last.end.try :strftime, "%e %B %Y" %>
      </div>
    </div>
    <div class="row zeroMargin">
      <div class="col s4 right-align label">
        Universidad
      </div>
      <div class="col s8">
        <%= student.scholarships.last.institution %>
      </div>
    </div>
    <div class="row zeroMargin">
      <div class="col s4 right-align label">
        Entidad
      </div>
      <div class="col s8">
        <%= student.scholarships.last.entity %>
      </div>
    </div>
    <div class="row zeroMargin">
      <div class="col s4 right-align label">
        Apoyo a Obtener
      </div>
      <div class="col s8">
        <%= student.scholarships.last.desired_support %>
      </div>
    </div>
    <div class="row zeroMargin">
      <div class="col s4 right-align label">
        Programa
      </div>
      <div class="col s8">
        <%= student.scholarships.last.program %>
      </div>
    </div>
    <div class="row zeroMargin">
      <div class="col s4 right-align label">
        Área del Conocimiento
      </div>
      <div class="col s8">
        <%= student.scholarships.last.study_area %>
      </div>
    </div>
    <div class="row zeroMargin">
      <div class="col s4 right-align label">
        Campo
      </div>
      <div class="col s8">
        <%= student.scholarships.last.study_field %>
      </div>
    </div>
    <div class="row zeroMargin">
      <div class="col s4 right-align label">
        Disciplina
      </div>
      <div class="col s8">
        <%= student.scholarships.last.discipline %>
      </div>
    </div>
    <div class="row zeroMargin">
      <div class="col s4 right-align label">
        Subdisciplina
      </div>
      <div class="col s8">
        <%= student.scholarships.last.sub_discipline %>
      </div>
    </div>
    <div class="row zeroMargin">
      <div class="col s4 right-align label">
        Último Promedio
      </div>
      <div class="col s8">
        <%= student.scholarships.last.most_recent_gpa %>
      </div>
    </div>
  </div>
<% end %>
