<main class="l-left-padding">
  <div class="row">
    <div class="card col s12 m8 offset-m2" style="padding: 20px">
      <div class="section">
        <div class="center-align teal-text title flow-text">¡Bienvenido/a <%= @student.full_name %>!</div>
        <div class="row">
          <div class="col s12 flow-text" style="font-size: 16px;">
            Primero que nada nos gustaría que confirmes los datos que el I2T2 tiene de cuando realizaste tus estudios con la beca Conacyt.
          </div>
        </div>
      </div>
      <div class="divider"></div>
      <%= form_for @student do |f| %>
        <div class="section">
          <div class="center-align subtitle">Información Personal</div>
          <div class="row zeroMargin">
            <div class="col s12 flow-text" style="font-size: 16px;">
              Una vez confirmados estos datos no los podrás actualizar más tarde.
            </div>
            <div class="row zeroMargin">
              <%= render "form", f: f %>
            </div>
          </div>
        </div>
        <%= f.fields_for :contact_information do |c| %>
          <%= render "form_contact_information", c: c %>
        <% end %>
        <div class="divider"></div>
        <div class="section">
          <div class="center-align subtitle">Información Laboral</div>
          <%= f.fields_for :unemployment_datum_attributes do |u| %>
            <div class="row">
              <div class="col s12 flow-text" style="font-size: 16px;">
              ¿Actualmente te encuentras con empleo?
              </div>
              <div class="col s12 switch">
                <label>
                  No
                  <%= u.check_box :is_employed %>
                  <span class="lever"></span>
                  Si
                </label>
              </div>
            </div>
            <div class="row" style="font-size: 16px;">
              <div class="col s12 flow-text" style="font-size: 16px;">
                Si estas desempleado, ¿cuál es la razón por la que estás desempleado?
              </div>
              <div class="col s12">
                <%= u.label :Razón_de_desempleo %>
                <%= u.text_field :unemployment_reason %>
              </div>
            </div>
          <% end %>
        </div>
        <div class="divider"></div>
        <div class="section">
          <div class="col s12">
            <blockquote class="flow-text" style="font-size: 16px;">
              Al hacer click en confirmar verifico que mis datos son correctos y completos.
            </blockquote>
          </div>
          <div class="row zeroMargin center-align">
            <%= f.submit "Confirmar", :class=>"btn-small"%>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</main>