<script type="text/javascript" src="/javascript/table.js"></script>
<main style="padding-left: 240px">
  <div class="row">
    <div id="man" class="col s12 m10 offset-m1">
      <div class="card material-table">
        <div class="table-header">
          <span class="table-title">Convocatorias</span>
          <div class="actions">
            <div class="col"><a class="btn-small disabled table-button" table-button-tag="Ver">Ver</a></div>
            <div class="col"><a class="btn-small disabled table-button" table-button-tag="Eliminar">Eliminar</a></div>
            <div class="col"><%= link_to 'Crear', new_scholarship_oportunity_path,class: 'btn-small'%></div>
          </div>
        </div>
        <table id="datatable">
          <thead>
            <tr>
              <th>ID</th>
              <th>Convocatoria</th>
              <th class="hide">
            </tr>
          </thead>
          <tbody>
            <% @scholarship_oportunities.each do |scholarship_oportunity| %>
              <tr class="table-row">
                <td><%= scholarship_oportunity.id %></td>
                <td><%= scholarship_oportunity.name %></td>
                <td class="hide"><%= link_to 'Ver', scholarship_oportunity_path(scholarship_oportunity) %><br></br>
                    <%= link_to "Eliminar", scholarship_oportunity, method: :delete, data: { confirm: '¿Estás seguro que quieres eliminar al usuario?' } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>
