<!-- partial:index.partial.html -->
<% if @scholarship_oportunity.errors.any? %>
  <div class="form-errors">
    <h2><%= pluralize(@scholarship_oportunity.errors.count, "error") %> stopped you from updating this scholarship_oportunity:</h2>
    <% @scholarship_oportunity.errors.full_messages.each do |msg| %>
      <h4><%= msg %></h4>
    <% end %>
  </div>
<% end %>
<main class="l-left-padding">
  <div class="row">
    <div class="card col s12 m8 offset-m2" style="padding: 20px">
      <div class="section">
        <div style="position: absolute; padding-left: 20px">
          <%= link_to scholarship_oportunities_path do %>
            <i class="material-icons left teal-text" style="font-size: 35px; line-height: 48px">arrow_back</i>
          <% end %>
        </div>
        <div class="center-align title">Crear Convocatoria</div>
      </div>
      <div class="divider"></div>
      <div class="section">
        <%= form_for(@scholarship_oportunity) do |f| %>
          <div class="row zeroMargin">
            <div class="col s12 m6 input-field inline">
              <%= f.text_field :name %>
              <label for="group_name">Nombre de la convocatoria*</label>
            </div>
          </div>
          <div class="section"> 
              <div class="row zeroMargin center-align">
                <%= f.submit "Crear", :class=>"btn-small"%>
              </div>
            </div>
        <% end %>
      </div>
  </div>
</main>
