<main style="padding-left: 240px">
<div class="row">
  <div class="col s12"><p></p></div>
  <div class="col s12 m4 l2"><p></p></div>
  <div id="man" class="col s12 m4 l8">
    <div class="card material-table">
      <div class="table-header">
        <span class="table-title">Convocatoria <%= @group.name%></span>
        <div class="actions">
        </div>
      </div>
      <table id="datatable">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Correo</th>
            <th>Disciplina</th>
            <th>Eliminar</th>
          </tr>
        </thead>
        <tbody>   
          <% @users.each do |user| %>
            <tr>
              <td><%= user.name %></td>
              <td><%= user.email %></td>
              <td><%= user.discipline %></td>
              <td><%= link_to 'Show', user_path(user), :style=>'color:white;',:class=>"waves-effect waves-light btn"%><br></br>
                <%= link_to "Eliminar", user, method: :delete, data: { confirm: '¿Estás seguro que quieres eliminar al usuario?' },:style=>'color:white;',:class=>"waves-effect waves-light btn" %></td>
            </tr>
          <% end %>  
        </tbody>
      </table>
    </div>
  </div>
  <div class="col s12 m4 l2"><p></p></div>
</div>


</main>
