<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <%= stylesheet_link_tag "application" %>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css'>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/font/material-design-icons/Material-Design-Icons.woff'><link rel="stylesheet" href="./style.css">

</head>

<body>
<!-- partial:index.partial.html -->
<head>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body class="Site">
  <main class="Site-content">

  <ul id="slide-out" class="side-nav fixed z-depth-2">
    <li class="center no-padding">
      <div class="indigo darken-2 white-text" style="height: 180px;">
        <div class="row" style="background:#1d7d74">
          <img style="margin-top: 5%;" width="100" height="100" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTi4DmuEiqgpdMPdI839ak7nqOyEHlnwt2nQWTLtI8UzuxgsYKH" class="circle responsive-img" />

          <p style="margin-top: -13%;">
            <% if current_user %>
              Estudiante
            <% else %>
              Admin
            <% end %>
          </p>
        </div>
      </div>
    </li>



     <% if current_admin%>
		  <li id="dash_dashboard"><%= link_to 'Lista de becarios', users_path, :style=>'color:#26a69a;', :class=>"waves-effect"%></li>
		  <li id="dash_dashboard"><%= link_to 'Registrar becarios', new_user_registration_path, :style=>'color:#26a69a;', :class=>"waves-effect"%></li>
      <li id="dash_dashboard"><%= link_to 'Ver Convocatorias', groups_path, :style=>'color:#26a69a;', :class=>"waves-effect"%></li>
      <li id="dash_dashboard"><%= link_to 'Crear Convocatoria', new_group_path, :style=>'color:#26a69a;', :class=>"waves-effect"%></li>
      <% if current_admin.is_admin != nil && current_admin.is_admin == true %>
    	  <li id="dash_dashboard"><%= link_to 'Registrar administradores', new_admin_registration_path, :style=>'color:#26a69a;', :class=>"waves-effect"%></li>
      <% end %>
    <% else current_user%>
    	<li id="dash_dashboard"><a class="waves-effect" href="#!"><b>Perfil</b></a></li>
    <% end %>
  </ul>

  <header style="padding-left: 240px">

  </header>

  <main style="padding-left: 240px">
    <div class="row">
  <div class="col s12"><p></p></div>
    <div class="col s12 m4 l1"><p></p></div>
  <div id="man" class="col s12 m4 l10">
    <div class="card material-table">
      <div class="table-header">
        <span class="table-title">Becarios CONACYT</span>
        <div class="actions">
        </div>
      </div>
      <table id="datatable">
        <thead>
          <tr>
            <th>Cvu</th>
            <th>Nombre</th>
            <th>Universidad</th>
            <th>Disciplina</th>
            <th>Area</th>
            <th>  </th>
          </tr>
        </thead>
        <tbody>   
          <% @users.each do |user| %>
          <tr>
              <td><%= user.cvu %></td>
              <td><%= user.name %> <%= user.paternal_last_name %> <%= user.maternal_last_name %></td>
              <td><%= user.school %></td>
              <td><%= user.discipline %></td>
              <td><%= user.expertise_area %></td>
              <td><%= link_to 'Show', user_path(user), :style=>'color:white;font-size:10px;width:100px ! important',:class=>"waves-effect waves-light btn"%><br></br>
                  <%= link_to "Eliminar", user, method: :delete, data: { confirm: '¿Estás seguro que quieres eliminar al usuario?' },:style=>'color:white;;font-size:10px;width:100px ! important',:class=>"waves-effect waves-light btn" %></td>
          </tr>
        <% end %>    
        </tbody>
      </table>
    </div>
  </div>
  <div class="col s12 m4 l1"><p></p></div>
</div>


  </main>

<!-- partial -->
  <script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js'></script><script  src="./script.js"></script>
</main>
</body>

<!--<footer class="indigo page-footer  center" style="background:#26a69a !important">
    <div class="footer-copyright" style="background:#26a69a">
      <div class="container" style="background:#26a69a">
         <span><a style='font-weight: bold;color:white;'>© Todos los Derechos Reservados, I2T2</a></span>
      </div>
    </div>
  </footer>-->

</html>