<body style="background: #26a69a">
  <div class="valign-wrapper sign-in" style="width:100%;height:80%;position: absolute;">
    <div id="basic-form" class="valign section" style="width:100%;">
      <div class="container">
        <div class="row">
          <div class="col s12 m6 l4 offset-m3 offset-l4">
            <div class="card-panel">
              <div class="center">
                <img class="responsive-img negativeMargin" src="http://www.nl.gob.mx/sites/default/files/styles/logo/public/29_LG-INNOVACION-TRANSFERENCIA-TECNOLOGIA_0.png?itok=e5H7Kri6">
              </div>
              <div class="row smallMargin">
                <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  				      <%= render "devise/shared/error_messages", resource: resource %>
                  <div class="row zeroMargin">
                    <div class="input-field col s10 offset-s1">
                      <%= f.label :Correo %><br />
                      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
                    </div>
                  </div>

                  <div class="row center-align smallMarginBottom">
                    <%= button_tag( :class => "btn-small") do %>
                      <i class="material-icons right">send</i> Recuperar Contraseña
                    <% end %>
                  </div>
                <% end %>
              </div>
              <div class="row center-align smallMarginBottom">
                <%= link_to "Iniciar Sesión", new_session_path('user') %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

