<html lang="en">

<style>

  .font {
    font-family: Impact, Charcoal, sans-serif;
  }

  .font2 {
    font-family: Comic Sans MS, cursive, sans-serif;
  }

  .center1 {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 70%;
      height: 70%;
  }

  .site-footer{
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;   
  }

  .fontSize1{
    font-size:0.5vw;
  }

  .fontFooter{
    color: black;
  }

  .main {
    flex: 1 0 auto;
  }

  .absolute {
    position: absolute;
    bottom: 0px;
    width: 100%;
  }

.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  position: relative;
  top: 0px;
}

.Site-content {
  flex: 1;
}

</style>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Capital Humano en Ciencia y Tecnologia de Nuevo Leon</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body style="background:#26a69a" class="Site">
  <main class="Site-content">

  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center orange-text"></h1>
<br><br>
<div class="actions center-align">
<% if current_user %>
	<br><br>
    <%= link_to 'Cerrar Sesión', destroy_user_session_path, method: :delete,:style=>'color:#26a69a;', :class=>"waves-effect waves-light btn-large white"%>
<% elsif current_admin %>
	<br><br>
    <%= link_to 'Cerrar Sesión Admin', destroy_admin_session_path, method: :delete,:style=>'color:#26a69a;', :class=>"waves-effect waves-light btn-large white"%>
    <br><br>
    <%= link_to 'Registra becados', new_user_registration_path, :style=>'color:#26a69a;', :class=>"waves-effect waves-light btn-large white"%>
    <br><br>
    <% if current_admin.is_admin != nil && current_admin.is_admin == true %>
      <%= link_to 'Registra administradores', new_admin_registration_path, :style=>'color:#26a69a;', :class=>"waves-effect waves-light btn-large white"%>
      <br><br>
    <% end %>
    <%= link_to 'Ver becarios', users_path, :style=>'color:#26a69a;', :class=>"waves-effect waves-light btn-large white"%>
<% else %>
	<br><br>
    <%= link_to 'Iniciar Sesión Becario', new_user_session_path, :style=>'color:#26a69a;', :class=>"waves-effect waves-light btn-large white"%>
    <br><br>
    <%= link_to 'Iniciar Sesión Admin', new_admin_session_path, :style=>'color:#26a69a;', :class=>"waves-effect waves-light btn-large white"%>
    <br><br>
<% end %>
</div>
      <br><br>
    </div>
  </div>




  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>

</main>
  </body>

<footer class="indigo page-footer center" style="background:#26a69a !important">
    <div class="footer-copyright" style="background:#26a69a">
      <div class="container" style="background:#26a69a">
         <span><a style='font-weight: bold;color:white;'>© Todos los Derechos Reservados, I2T2</a></span>
      </div>
    </div>
  </footer>

</html>

