<html lang="en">

<style>

  .font {
    font-family: Impact, Charcoal, sans-serif;
  }

  .font2 {
    font-family: Comic Sans MS, cursive, sans-serif;
  }

  .center {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 70%;
      height: 70%;
  }

  .site-footer{
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;   
  }

  .fontSize1{
    font-size:0.7vw;
  }

  .fontFooter{
    color: black;
  }

  .main {
    flex: 1 0 auto;
  }

.absolute {
  position: absolute;
  bottom: 0px;
  width: 100%;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

</style>


<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Capital Humano en Ciencia y Tecnologia de Nuevo Leon</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body style="background:#26a69a">
<nav class="navfeature">
</nav>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center orange-text"></h1>
<br><br>
<div class="actions center-align">
<% if current_user %>
	<br><br>
    <%= link_to 'Cerrar Sesión', destroy_user_session_path, method: :delete,:style=>'color:#26a69a;', :class=>"waves-effect waves-light btn-large white"%>

<% elsif current_admin %>
	<br><br>
    <%= link_to 'Cerrar Sesión Admin', destroy_admin_session_path, method: :delete,:style=>'color:#26a69a;', :class=>"waves-effect waves-light btn-large white"%>
    <br><br>
    <%= link_to 'Registra becados', new_user_registration_path, :style=>'color:#26a69a;', :class=>"waves-effect waves-light btn-large white"%>
<% else %>
	<br><br>
    <%= link_to 'Iniciar Sesión Becario', new_user_session_path, :style=>'color:#26a69a;', :class=>"waves-effect waves-light btn-large white"%>
    <br><br>
    <%= link_to 'Iniciar Sesión Admin', new_admin_session_path, :style=>'color:#26a69a;', :class=>"waves-effect waves-light btn-large white"%>
    <br><br>
    <%= link_to 'Registra administradores', new_admin_registration_path, :style=>'color:#26a69a;', :class=>"waves-effect waves-light btn-large white"%>
<% end %>
</div>

      <br><br>

    </div>
  </div>




  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>


<footer class="page-footer site-footer" style="background-color: #F0F8FF">
    <div class="container ">

    <div class=" center font fontSize1 fontFooter">
      <p class="font2" style="width: 100%">I2T2 - Organismo del Gobierno del Estado de Nuevo León, creado en 2005, responsable de la promoción de políticas públicas en Ciencia, Tecnología e Innovación para ser una de las 25 regiones más competitivas del mundo en 25 años. .</p>
    </div>
    </div>
    <div class="footer-copyright">
      <div class="container fontFooter center">
        © 2019 Copyright Text
      </div>
  </div>
</footer>

  </body>
</html>

