<main style="padding-left: 240px">
  <div class="row">
    <div id="man" class="col s12 m4 l10">
      <div class="card material-table">
        <div class="table-header">
          <span class="table-title">Compañias registradas</span>
          <%= link_to 'Crear nueva compañia', new_with_company_path, :class => "btn-small" %>
        </div>
        <table id="datatable">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Email</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @companies.each do |company| %>
              <tr>
                <td><%= company.name %></td>
                <td><%= company.user.email %></td>
                <td><%= link_to 'Show', company_path(company), :style=>'color:white;font-size:10px;width:100px ! important',:class=>"waves-effect waves-light btn"%>
                <td><%= link_to "Eliminar", company, method: :delete, data: { confirm: '¿Estás seguro que quieres eliminar a la compañia?' },:style=>'color:white;;font-size:10px;width:100px ! important',:class=>"waves-effect waves-light btn" %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>
