<!DOCTYPE html>
<html lang="en">

<style>

  .font {
    font-family: Impact, Charcoal, sans-serif;
  }

  .font2 {
    font-family: Comic Sans MS, cursive, sans-serif;
  }

  .center1 {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 70%;
      height: 70%;
  }

  .site-footer{
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;   
  }

  .fontSize1{
    font-size:0.5vw;
  }

  .fontFooter{
    color: black;
  }

  .main {
    flex: 1 0 auto;
  }

  .absolute {
    position: absolute;
    bottom: 0px;
    width: 100%;
  }

.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  position: relative;
  top: 0px;
}

.Site-content {
  flex: 1;
}

  .img{
    max-width: 100%;
    max-height: 100%;
  }

  .fondo{
    opacity:1;
    background: rgb(0, 151, 19);
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;
  }

</style>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Capital Humano en Ciencia y Tecnologia de Nuevo Leon</title>
</head>
<body style="background:#26a69a" class="Site">
  <main Style="background-image: url(http://axostudent.co.uk/wp-content/uploads/2018/08/int_students-1024x737.jpg)" class="Site-content img fondo">
<!--<nav class="navfeature">
</nav>-->
<br>
<div id="basic-form" class="section">
  <div class="row">
    <div class="col s12 m4 l4">
      <p></p>
    </div>
      <div class="col s12 m6 l4">
        <div class="card-panel">
          <h4 class="center-align">Iniciar Sesión</h4>                 
            <div class="row">
                <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                <div class="row center-align">
                  <div class="input-field inline">
                    <%= f.label :Correo %><br />
                    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
                  </div>
                </div>
                  <div class="row center-align">
                    <div class="input-field inline">
                      <%= f.label :Contraseña %><br />
                      <%= f.password_field :password, autocomplete: "current-password" %>
                   </div>
                  </div>
                    <div class="row center-align">
                      <% if devise_mapping.rememberable? %>
                          <label>
                          <input type="checkbox" />
                          <span>Recordar contraseña</span>
                          </label>
                      <% end %>
                    </div>
                      <div class="actions center-align">
                       <%= f.submit "Iniciar sesión", :class=>"waves-effect waves-light btn"%>
                     </div>
                <% end %>
            </div>
        <%= render "devise/shared/links" %>
      </form>  
     </div>
   <div class="col s12 m4 l4"><p></p></div>  
  </div>
</div>
</div>
</main>
</body>

<footer class="indigo page-footer center" style="background:#26a69a !important">
    <div class="footer-copyright" style="background:#26a69a">
      <div class="container" style="background:#26a69a">
         <span><a style='font-weight: bold;color:white;'>© Todos los Derechos Reservados, I2T2</a></span>
      </div>
    </div>
  </footer>

</html>

