<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Capital Humano en Ciencia y Tecnologia de Nuevo Leon</title>
</head>
<body style="background:#26a69a">
<!--<nav class="navfeature">
</nav>-->
<br>
<div id="basic-form" class="section">
  <div class="row">
    <div class="col s12 m4 l4">
      <p></p>
    </div>
      <div class="col s12 m6 l4">
        <div class="card-panel">
          <h4 class="center-align">Iniciar Sesi칩n</h4>                 
            <div class="row">
                <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                <div class="row center-align">
                  <div class="input-field inline">
                    <%= f.label :Correo %><br />
                    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
                  </div>
                </div>
                  <div class="row center-align">
                    <div class="input-field inline">
                      <%= f.label :Contrase침a %><br />
                      <%= f.password_field :password, autocomplete: "current-password" %>
                   </div>
                  </div>
                    <div class="row center-align">
                      <% if devise_mapping.rememberable? %>
                          <label>
                          <input type="checkbox" />
                          <span>Recordar contrase침a</span>
                          </label>
                      <% end %>
                    </div>
                      <div class="actions center-align">
                       <%= f.submit "Iniciar sesi칩n", :class=>"waves-effect waves-light btn"%>
                     </div>
                <% end %>
            </div>
        <%= render "devise/shared/links" %>
      </form>  
     </div>
   <div class="col s12 m4 l4"><p></p></div>  
  </div>
</div>

