<main style="padding-left: 240px">
  <div class="row">
    <div class="col s3 offset-s1 inline">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTi4DmuEiqgpdMPdI839ak7nqOyEHlnwt2nQWTLtI8UzuxgsYKH" class="companyLogo" />
    </div>
    <div class="col s7 offset-s1 inline">
      <h4><%= @job_posting.title %></h4>
      <h4>Nombre de la compañia</h4>
      <div>Sobre nosotros de la compañia</div>
    </div>
  </div>
  <div class="row">
    <div class="col s5 offset-s1 inline">
      <div><strong> Sueldo: </strong> $<%= @job_posting.salary %> </div>
      <div><strong> Cantidad de vacantes:</strong> <%= @job_posting.number_positions %> </div>
      <div><strong> Tipo de Empleo:</strong> <%= @job_posting.employment_type %> </div>
      <div><strong> Experiencia requerida:</strong> <%= @job_posting.experience_required %> </div>
    </div>
    <div class="col s5 offset-s1 inline">
      <div><strong>Descripción:</strong></div>
      <%= @job_posting.description %>
      <div><strong>Funciones laborales:</strong></div>
      <%= @job_posting.responsabilities %>
      <div><strong>Palabras clave:</strong> <%= @job_posting.keywords %></div>
    </div>
  </div>
</main>


