<% if current_user %>
  <ul id="slide-out" class="side-nav fixed z-depth-2">
    <li class="center no-padding">
      <div class="teal darken-1 white-text">
        <div class="row">
          <img style="margin-top: 10%;" width="100" height="100" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTi4DmuEiqgpdMPdI839ak7nqOyEHlnwt2nQWTLtI8UzuxgsYKH" class="circle responsive-img" />
          <p style="margin-top: -13%;">
          <%= humanized_role_name(current_user) %>
          </p>
        </div>
      </div>
    </li>
    <% if current_user.is_admin_or_super_admin?  %>
      <li class="no-padding">
        <ul class="collapsible collapsible-accordion">
          <li>
            <a class="collapsible-header"><i class="material-icons">assignment_ind</i>Becas</a>
            <div class="collapsible-body no-padding">
              <ul>
                <li id="dash_dashboard"><%= link_to 'Becarios', students_path, :class=>"waves-effect"%></li>
                <li id="dash_dashboard"><%= link_to 'Convocatorias', scholarship_oportunities_path, :class=>"waves-effect"%></li>
              </ul>
            </div>
          </li>
        </ul>
      </li>
      <li class="no-padding">
        <ul class="collapsible collapsible-accordion">
          <li>
            <a class="collapsible-header"><i class="material-icons">assignment</i>Bolsa de Trabajo</a>
            <div class="collapsible-body no-padding">
              <ul>
                <li id="dash_dashboard"><%= link_to 'Exbecarios', former_students_path, :class=>"waves-effect"%></li>
                <li id="dash_dashboard"><%= link_to 'Vacantes', job_postings_path, :class=>"waves-effect"%></li>
                <li id="dash_dashboard"><%= link_to 'Compañias', companies_path, :class=>"waves-effect"%></li>
              </ul>
            </div>
          </li>
        </ul>
      </li>
      <% if current_user.super_admin? %>
        <li class="no-padding">
          <ul class="collapsible collapsible-accordion">
            <li>
              <a class="collapsible-header"><i class="material-icons">assessment</i>Administración</a>
              <div class="collapsible-body no-padding">
                <ul>
                  <li id="dash_dashboard"><%= link_to 'Administradores', new_user_registration_path, :class=>"waves-effect"%></li>
                </ul>
              </div>
            </li>
          </ul>
        </li>
      <% end %>
      
      <% elsif current_user.is_student_or_former_student? and !current_user.first_time_former_student? %>
      <li id="dash_dashboard">
        <%= link_to student_path(current_user.student), :class=>"waves-effect" do %>
          <i class="material-icons left">account_circle</i>Perfil
        <% end %>
      </li>
      <li id="dash_dashboard">
        <%= link_to history_student_path(current_user.student.id), :class=>"waves-effect" do %>
          <i class="material-icons left">history</i>Historia
        <% end %>
      </li>
      <% if current_user.former_student? %>
        <li id="dash_dashboard">
          <%= link_to job_postings_path, :class=>"waves-effect" do %>
            <i class="material-icons left">library_books</i>Bolsa de Trabajo
          <% end %>
        </li>
        <li id="dash_dashboard">
          <%= link_to current_user.student.curriculum ? curriculum_path(current_user.student.curriculum) : new_curriculum_path, :class=>"waves-effect" do %>
            <i class="material-icons left">book</i>Curriculum
          <% end %>
        </li>
      <% end %>
    <% elsif current_user.company? %>
      <li id="dash_dashboard">
        <%= link_to "#", :class=>"waves-effect" do %>
          <i class="material-icons">account_circle</i>Perfil
        <% end %>
      </li>
      <li id="dash_dashboard">
        <%= link_to my_job_postings_path, :class=>"waves-effect" do %>
          <i class="material-icons">library_books</i>Mis Vacantes
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>
