<!DOCTYPE html>
<html>
  <head>
    <title>I2t2Campe</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
            

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="light-blue darken-3">
        <div class="nav-wrapper">
          <a href="/" class="brand-logo">I2T2</a>
          <ul id="nav-mobile" class="right hide-on-med"><!-- Hacerlo responsivo y que salga un menu de hamburguesa-->
            <li><a href="/">Home</a></li><!-- Agregar href -->
            <li><a href="/">About</a></li><!-- Agregar href -->
            <li><a href="/">Help</a></li><!-- Agregar href -->
          </ul>
        </div>
      </nav>



    <%= render  'layouts/alerts' %>
    <%= yield %>
  </body>
</html>
