<!DOCTYPE html>
<html>
  <head>
    <title>Capital Humano en Ciencia y Tecnologia de Nuevo Leon</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/font/material-design-icons/Material-Design-Icons.woff'>
    <link rel="stylesheet" href="./style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  </head>

  <body class="Site row zeroMargin">

    <%= render  'layouts/header' %>
    <%= render 'layouts/alerts'%>
    <main class="Site-content">
    <%= render  'layouts/navbar' %>
    <%= yield %>
    </main>
    <%= render  'layouts/footer' %>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js'></script>
    <script  src="./script.js"></script>

  </body>
</html>
